*{
    padding: 0;
    margin: 0;
    
}
body{
    height: 100vh;
    background: url(project-js-1.jpg) no-repeat center;
}
.heading{
    border: 1px solid #fff;
    padding: 0 10px;
    display: inline;
    border-radius: 8px;
    background:linear-gradient(60deg, red, green, blue) ;
    color: rgba(0, 0, 0, 0.1);
    background-clip: text;
    
}
.name{
    color:red;
}
.quote-box{
    margin-top: 30px;
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
}
.get-quote{
    border: 0;
    background-color: black;
    color: #fff;
    padding: 2px 8px;
    border-radius: 8px;
}